@import "tailwindcss";

@theme {
  --color-primary: #4a90e2;
  --color-secondary: #8fb8e6;
  --color-background-light: #fafafa;
  --color-background-dark: #101a22;
  --color-text-main: #2c3e50;

  --font-serif: "Playfair Display", serif;
  --font-sans: "Lato", sans-serif;
}

body {
  min-height: 100dvh;
  min-width: 100dvw;
}
